@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
body{
  background-color: #c5c5c5;
  overflow-x: hidden;
}
.display__none{
  display: none !important;
}
.container{
  background-color: #fff;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}
.notifications__bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notifications__bar button{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 15px;
}
.icon__notification{
  background: #357edf;
}
.icon__notification:active{
  transform: scale(.9);
}
.icon__notification:focus{
  transform: scale(1.05);
}
.icon__notification:hover svg{
  animation: 1s infinite ease-in-out alternate-reverse hoverNote;
}
@keyframes hoverNote {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(-20deg);
  }
}
.icon__notification span{
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  top: 2%;
  right: 2%;
  border: #fff 1px solid;
}
.notifications_window{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  animation: 1s notificationsSpell;
  /* background: #0000001f;
  border-radius: 1em; */
  /* Раскоментируй если хочешь бэкграунд у уведомлений */
}
.notification{
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 7px 40px 7px 15px;
  background: #fff;
  box-shadow: 0 10px 25px 1px #0000002f;
  border-radius: .4em;
  margin: 10px;
  animation: 1s notificationsSpell;
  z-index: 1;
}
@keyframes notificationsSpell {
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.notification span{
  position: absolute;
  display: block;
  background: red;
  height: 100%;
  width: 7px;
  left: 0;
  top: 0;
}
.notifications_none{
  display: none;
}
.notifications_none span{
  background: green !important;
}
.notifications_none h3{
  font-weight: 400;
  color: #929292;
}
.notification h4{
  color: #727272;
  letter-spacing: .3pt;
  margin-bottom: 3px;
}
.notification button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  margin: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #636363;
  font-weight: 600;
}
.notification button:hover{
  color: #000;
}